* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

nav {
    background: #292929 ;
}
/*-----------------------Logo design----------------*/
.logo span{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s, opacity 0.5s, -webkit-text-stroke-color 0.5s;
}

.logo span.active{
    transform: translateY(0px);
    opacity: 1;
}

.logo span:nth-child(1) {
    transition-delay: 0.5s;
}

.logo span:nth-child(2) {
    transition-delay: 1s;
}

.logo span:nth-child(3) {
    transition-delay: 1.5s;
}

.logo span:nth-child(4) {
    transition-delay: 2s;
}

.logo span:nth-child(5) {
    transition-delay: 2.5s;
}
.logo:hover span{
    -webkit-text-stroke-color: #e8ffcd;
}