* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav {
    background: #292929;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
    height: 80px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 80px;
}

.logo-section{
    max-width: 350px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.level-section {
    display: inline-flex;
    margin-left: 10px;
}

.level-section ul{
    display: inline-flex;
    list-style: none;
}

.level-section ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.active-link{
    font-weight: 350;
    color: lightgray;
    opacity: 0.6;
}
.level-section ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

.navigate{
    flex: 1;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigate ul {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navigate ul li{
    padding-inline: 10px;
    
}

.navigate ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.15s;
    cursor: pointer;
}

.navigate ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

.reg-section {
    width: 200px;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.reg-section ul{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.reg-section ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.15s;
}

.reg-section ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    color: #292929;
    font-weight: 600;
    background: #fff;
    cursor: pointer;
}



/*-----------------------Logo design----------------*/

.logo{
    min-width: 100px;
}
.logo span{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    opacity: 0;
    cursor: pointer;
    transition: transform 1s, opacity 0.5s, -webkit-text-stroke-color 0.5s;
}

.logo span.active{
    transform: translateY(0px);
    opacity: 1;
}

.logo span:nth-child(1) {
    transition-delay: 0.5s;
}

.logo span:nth-child(2) {
    transition-delay: 1s;
}

.logo span:nth-child(3) {
    transition-delay: 1.5s;
}

.logo span:nth-child(4) {
    transition-delay: 2s;
}

.logo span:nth-child(5) {
    transition-delay: 2.5s;
}
.logo:hover span{
    -webkit-text-stroke-color: #e8ffcd;
}


/*---------------------------SUBMENU Section---------------------------*/

.sub-Menu{
    display: none;
}

.navigate ul li:hover .sub-Menu {
    display: block;
}

.navigate ul li:hover .sub-Menu ul{ 
    display: inline-block;
    background: #fff;
    width: 500px;
    height: 220px;
    margin-top: 20px;
    right: 195px;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: left;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 2px;
    transition: 0.15s;
    columns: 2 150px;
    column-gap: 10px;
    padding-top: 10px;
    padding-inline: 8px;
}

.navigate ul li:hover .sub-Menu ul li{
    display: flex;
    color: #292929;
    flex-direction: column;
    font-size: 14px;
    padding: 15px 15px;
    transition: 0.9s;
    cursor: pointer;
}

.navigate ul li:hover .sub-Menu ul li:hover{
    background: rgba(41, 41, 41, 0.2);
    background: rgb(0 0 0 / 10%) 0px 2px 4px 2px;
    border-radius: 5px;
}

.navigate ul li:hover .menu ul {
    display: inline-block;
    width: 230px;
    height: 350px;
    right: 260px;
    box-shadow: 0, 0, 0, 2px solid lightgray;
    position: absolute;
}

.navigate ul li:hover .menu ul li{
    padding: 15px 12px;
    cursor: pointer;
    transition: 0.5s;
}

.navigate ul li:hover .menu ul li:hover{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


.menu-fa-align{
    display: flex;
}

.menu-fa-align .fa-circle-question, .fa-brands, .fa-lightbulb, .fa-book-open{
    margin-right: 10px;
}



.sub-Menu, .fa-solid{
    margin-right: 5px;
}

.icon-align{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.icon-align small{
    margin-left: 20px;
}


.reg-section ul li:hover .sub-Menu {
    display: block;
}

.reg-section ul li:hover .sub-Menu ul{ 
    display: inline-block;
    background: #fff;
    width: 150px;
    height: 80px;
    margin-top: 20px;
    right: 90px;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: left;
    border-radius: 5px;
    transition: 0.15s;
}

.reg-section ul li:hover .sub-Menu ul li{
    display: flex;
    color: #292929;
    flex-direction: column;
    font-size: 14px;
    padding: 15px 15px;
    transition: 0.9s;
    padding: 10px;
    cursor: pointer;
}

.reg-section ul li:hover .sub-Menu ul li:hover{
    background: rgba(41, 41, 41, 0.3);
    border-radius: 5px;
}

.reg-section ul li:hover .Menu ul{
    display: inline-block;
    width: 150px;
    height: 80px;
    right: 50px;
    margin-top: 10px;
    box-shadow: 0, 0, 5, 2px solid gray;
}

.reg-section ul li:hover, .Menu ul li{
    cursor: pointer;
    transition: 0.5s;
}

/*-------------------SubHeader Section----------------------*/


.sub-header{
    width: 100%;
    height: 180px;
    background:#292929;
}